.article{
    float: left;
    border: 1px solid silver;
    box-sizing: border-box; /*???*/
    border-radius: 5px;
    background-color: #fafafa;
    min-height: 400px;
}

@media (min-width:900px) {
.article {
        width: 31.3%;
        margin-right: 2%;
    }}

@media (max-width:899px) and (min-width:700px) {
.article {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }}

@media (max-width:699px) {
.article {
        width: 100%;
        margin-bottom: 10px;
    }}

.img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
    /*margin-bottom: 10px;*/
}

.article h1{
    width: 90%;
    margin-left: 5%;
    font-weight:normal;
    font-size: 1.7em;
    color: #4a4a4a;
    margin-top: -3px;
    margin-bottom: 0px;
}

.article p{
    width: 80%;
    margin-left: 5%;
    margin-top: 5px;
    text-indent: 1em;
}

.article button{
    padding: 5px;
    background-color: #ed7b7b;
    margin-left: 5%;
    border-radius: 5px;
    color: #fff;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    border: 0;

}

button:hover{background-color: #f65069;}